.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.form-style {
  border: none;
  outline: none;
  border-radius: 5px;
  background: white;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
  max-height: 12rem;
}

form.form-style input,
form.form-style textarea {
  border: none;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

form input:focus,
form textarea:focus {
  border: none;
  outline: none;
}

form.form-note {
  min-height: 10rem;
  max-height: 10rem;
}

form .btn-div > button {
  position: absolute;
  right: 5px;
  bottom: -1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: #717148;
}
